<div class="message">
  <p class="message__text"><%= message.text %></p>
  <span class="message__info">
    By <span class="message__info__author"><%= message.user %></span> at
    <span class="message__info__time"> <%= message.added %> </span>
  </span>
</div>
