<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message board</title>
    <link rel="stylesheet" href="/public/index.css" />
  </head>
  <body>
    <header>
      <h1>All messages</h1>
      <h3><a href="/new">Send a message</a></h3>
    </header>
    <div class="feed">
      <% for(i = messages.length - 1; i >= 0; i--){ %> <%- include("message",
      {message: messages[i]})%> <% } %>
    </div>
  </body>
</html>
